<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="~/Content/indexStyleSheet.css" type="text/css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<<<<<<< Updated upstream
<body style="background:url(http://a3.mndcdn.com/image/upload/a1bt1p1w0uvpjp8qozv5.jpg) no-repeat center fixed; background-size:cover">
=======
<body background: ="http://a3.mndcdn.com/image/upload/a1bt1p1w0uvpjp8qozv5.jpg">
>>>>>>> Stashed changes
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
